*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.todo-input {
    display: block;
    color: #333;
    background-color: white;
    box-sizing: #333;
}

form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease
}

form button:hover {
    border-radius: 10px;
    background-color: #d88771;
    color: black;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}
.delete-btn, .complete-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.complete-btn {
    background: rgb(73, 204, 73);
    text-decoration: none;
}

.todo-item {
    padding: 0rem 0.5rem;
}
.DELETE, .DONE {
    text-decoration: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    color: #ff6f47;

}